@font-face {
  font-family: 'Conv_georgia';
  src: url('../fonts/georgia.eot');
  src: local('Conv_georgia'), url('../fonts/georgia.woff') format('woff'), url('../fonts/georgia.ttf') format('truetype'), url('../fonts/georgia.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body { font-family: "Arial", Helvetica, sans-serif; margin: 0px; padding: 0px;}
ul, li { padding: 0px; margin: 0px; list-style: none}
a { text-decoration: none}
h2 { font-size: 16px; font-weight: 500;}
img { border: none;}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url(../images/zf2-logo.png) no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/*******************HEADER - MENU***************/
#header { width: 100%; min-width: 1024px; float: left; background: #582700;}
#ContenTopoHeader { width: 1024px; margin: 0 auto;}
#mn_topo{ width: 824px; float: left;}
ul.mn_topo { padding: 25px 0; float: left; display: block; font-size: 12px; }
li.Menu_topo { display: inline;  background: url(../images/borda_menu.png) repeat-y right;  padding-right:13px; padding-left:13px}
li.Menu_topo a{ color:#FFF;}
li.Menu_topo a:hover{text-decoration: underline;}

/******************* FIM DO HEADER - MENU***************/

/******************* CESTA DO CARRINHO DE COMPRAS ***************/
span.Cesta { width: 200px; height: 71px; float: right; background: url(../images/cesta.png) no-repeat #351903; display: block; }
p.mc { color: #FFF; font-weight: bold; margin-left: 75px; margin-top: 0px; float: left; font-size: 14px; }
p.valor_total { width: 150px; color: #FFF; font-weight: bold; position: relative; left: 50px; top: -9px; text-align: center; font-size: 14px; }
img.dt_cesta { z-index: -9999; margin-left: 92px; margin-top: -11px; float: left;}
#Box_Visor_Qtd { background: #CCC; position: absolute; }
span.Visor_Qtd { width: auto; max-width: 52px; padding: 0 3px 0 3px; right: -61px; top: 18px; color: #FFF; font-size: 10px; position: absolute; display:inline-block; overflow: hidden; text-align: right;}
span.Visor_Qtd { background: #ff7f25; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px; border: none;}
/******************* FIM DA CESTA DO CARRINHO DE COMPRAS ***************/

/********HEADER D0 CARRINHO DE COMPRAS, TITULOS DO PRODUTO, PREÇO, QTD*************/
#BoxCestaForm { width: 345px; overflow: hidden; float: right; margin-right: -200px !important;}
#box_compras { width: 345px; z-index: 200; background: #351903; position: absolute; top: 71px;}
ul.header_conteudo_compra { width: 330px; height: 40px; margin: 0 auto; background: #582700; margin-top: 10px; display: block;}
li.header_tt_box_produto { width: 180px; height: 40px; float: left; color: #FFF;}
li.header_tt_box_preco { width: 86px; height: 40px; float: left; color: #FFF;}
li.header_tt_box_Qtd { width: 54px; height: 40px; float: right; color: #FFF; } 
p.header_txt_produto_compra { margin: 10px 0 9px 20px; }
p.header_txt_preco_compra { margin: 10px 0 0 0; float: right;}
p.header_txt_Qtd_compra { margin: 10px 12px 0 0; float: right;}
/************ FIM DO HEADER D0 CARRINHO DE COMPRAS, TITULOS DO PRODUTO, PREÇO, QTD**************/

/************CARRINHO DE COMPRAS- DESCRIÇÃO DOS PRODUTOS, PREÇO, QTD,******************/
ul#DescricaoPrecoQuatidade { width: 345px; margin: 0 auto; margin-top: 10px; display: block; }
li.BoxProdutosCesta { width: 325px; float: left; display:block; margin-top: 10px; margin-left: 10px; border-bottom: solid 1px #582700; }
#BoxDescricaoFoto { width: 180px; height: 66px; float: left; border-right: solid 1px #582700; color: #FFF; margin-bottom: 10px; }
span.imagem_produto_cesta { width: 50px; height: 66px; float: left;}
p.descricao_produto_cesta { width: 127px; float: left; font-size: 11px; margin-top: 15px; color: #FFF;}
#BoxDescricaoPreco { width: 80px; height: 66px; float: left; border-right: solid 1px #582700; }
p.descricao_preco_cesta { font-size: 11px; text-align: center; color: #FFF; margin-top: 25px; }
#BoxDescricaoQuatidade { width: 60px; height: 66px; float: left; text-align: center; color: #FFF; }
p.descricao_Qtd_cesta { font-size: 11px; text-align: center; color: #FFF; margin-top: 25px;}
/*FIM D0 CARRINHO DE COMPRAS - DESCRIÇÃO DOS PRODUTOS, PREÇO, QTD,*/

/****************BOTÕES DO CARRINHO DE COMPRA***************/
ul#buttonCarrinho { width: 325px; float: left; display:block; margin-top: 10px; margin-left: 10px;}
li.ButtonCarrinhoDeCompra a { width: 155px; height: 22px; margin-bottom: 10px; float: left; background: #dddddd;
 border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; text-transform: uppercase;
  text-align: center; color: #666666; font-size: 12px; padding-top: 8px;}
li.ButtonCarrinhoDeCompra a:hover { background: #b1b0b0;}
li.ButtonFinalizarCompra a { width: 155px; height: 22px; margin-bottom: 10px; float: right; background: #ff7f25; 
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; text-transform: uppercase;
   text-align: center; font-size: 12px; color: #FFF; padding-top: 8px;}
li.ButtonFinalizarCompra a:hover { background: #e76509;}

/***********FIM DOS BOTÕES DO CARRINHO DE COMPRA**********/

/******************ERRO LOGIN - CADASTRO****************************/
#form_erro {position: absolute;  width: 100%; min-width: 1024px; margin-top: 80px}
#atencao_erro{width: 411px; margin: 0 auto; background:url(../images/fundo_trasparente.png); text-align: center; border-top:5px solid #ff7f25; border-bottom: 5px solid #ff7f25; padding-bottom: 30px}
p.atencaoErro{background: url(../images/atencao.png) no-repeat left; font-size: 1.000em; color:#FFF; font-weight: bold; text-indent: 50px; padding:10px 0;}
p.erro{font-weight: bold; font-size: 1.000em; color:#FFF;}
span.tipo_erro{ line-height: 25px; color:#fff; }
a.tentarNovamente{background: #ff7f25; border-radius: 7px; padding: 10px 17px; margin-top: 30px; text-transform: uppercase; color: #FFF; font-weight: bold;font-size: 0.875em; letter-spacing: 1px}

/******************LOGIN - CADASTRO****************************/
#Login_Cadastro{width: 100%; min-width: 1024px; position: absolute; }
#btn_form {width: 453px; margin: 0 auto; }
#form_login {width: 453px; margin: 0 auto; background: #FFF }
#form_cadastro {width: 453px; margin: 0 auto; background: #FFF }
a.status_entrar { background: url(../images/btn_entrar.png) no-repeat top; width:150px; height: 51px; float: left; text-indent: -9999px}
a.status_criar_conta { background: url(../images/btn_criarConta_desativado.png) no-repeat top; width:219px; height: 51px; float: left; text-indent: -9999px}
a.status_entrar:hover{ background: url(../images/btn_entrar_desativado.png) no-repeat top; z-index: 1 }
a.status_criar_conta:hover { background: url(../images/btn_criarConta.png) no-repeat top; }
a.status_fechar {background: url(../images/fechar_loginCadastro.png) no-repeat top; width:84px; height: 51px; float: left; text-indent: -9999px}
a.esqueceuSenha { color:#333; text-decoration: underline; margin-left: 12%;}
p.criar_conta{margin-left: 12%; font-size:1.125em; }
p.criar_conta a.criar_conta {color:#333; font-weight: bold}
p.criar_conta a.criar_conta:hover {color:#ff7f25;}
form.formActionLogin, form.formActionCadastro{border: 3px solid #ff7f25; padding-top: 80px }
input.login, input.Password, input.email{width: 320px; padding: 10px 5px; margin-left: 12%; margin-bottom: 10px; margin-top: 10px; border: 2px solid #ddd; color:#666; font-size:0.875em; letter-spacing: 1px }
label.status_login, label.status_password, label.status_email {font-size:1.000em; color:#333; margin-left: 12%;}
input.Eventlogin ,input.Eventcadastrar {background: #ff7f25; border: none; font-size: 0.875em; text-transform: uppercase; cursor: pointer; border-radius: 7px; padding: 10px 17px; color:#FFF; font-weight: bold; letter-spacing: 1px; float: right; margin-right:12% }
/*******************CONTEUDO***************/
#geral { width: 100%; min-width: 1024px; float: left; }

/*******************MENU***************/
#topo_menu { width: 100%; min-width: 1024px; border-bottom: solid 1px #CCC; float: left; padding-bottom: 30px; margin-bottom: 30px;}
#menu_central { width: 1024px; margin: 0 auto; background: #CCC}
h1 { text-indent: -9999px !important; display: none !important;}
img.logo_seleto { float: left; padding-top: 40px; padding-left: 80px; }
img.phone { width: 24px; height: 15px; float: left; padding-top: 15px; padding-right: 10px;} 
p.txt_phone { width:300px; font-size: 18px; font-weight: bold; color: #ff7f25; margin-top: 13px;}
#box_menu { width: 544px; float:right;}
input.search_topo{ width: 454px; padding: 15px; margin-bottom: 10px; margin-top: -10px; border: 5px solid #ff7f25; font-size: 1.125em; color:#666; background: #FFF; float: left; }
input.lupa_topo { width: 50px; height: 61px !important; -webkit-height: 61.5px !important; margin-left: -1px; margin-top: -10px; background: url(../images/lupa_topo.png) no-repeat center #ff7f25; border: none; text-indent: -9999px; cursor: pointer;}
/*Menu Topo*/
ul.Menu { width: 544px;}
li a.lista_menu_cafe  { width: 178px; height: 87px; background: url(../images/cafe.png) no-repeat; float: left; padding: 0 5px 0 0; text-indent: -9999px;}
li a.lista_menu_cafe:hover{ background: url(../images/cafeHover.png) no-repeat;}
li a.lista_menu_alimentos { width: 178px; height: 87px; background: url(../images/alimento.png) no-repeat; float: left; padding: 0 5px 0 0; text-indent: -9999px;}
li a.lista_menu_alimentos:hover { background: url(../images/alimentoHover.png) no-repeat;}
li a.lista_menu_produtos { width: 178px; height: 87px; background: url(../images/produtos.png) no-repeat; float: left; text-indent: -9999px;}
/*Dropdown Cafés*/
ul.dropdown { width: 542px; max-height: 410px; background: #FFF; margin-top: 97px; padding: 0; display: block; position: absolute; z-index: 2; border-bottom: solid 4px #ff9600;}
li.tt_dropdown { width: 544px; height: 60px; border-bottom: solid 1px #DDD; display: block; float: left;}
li a.tt_dropdown { font-family: "Georgia", Times New Roman, Times, serif; font-size: 18px; color: #666666; padding-left: 30px; padding-top: 15px; display: block; letter-spacing: 1px;}
li a.tt_dropdown span.ttd_dropdown { font-size: 24px; color: #ff9600; font-style: italic;}
img.dom_menu { width: 281px; height: 326px; margin-top: 30px; margin-right: 30px; float: right;}
li.txtD_dropdown { width: 180px; float: left; display: block;}
li a.txtD_dropdown { font-size: 13px; color: #ff9600; font-weight: bold; padding-left: 20px;}
li.txt_dropdown { width: 180px; float: left; display: block;}
li a.txt_dropdown { font-size: 11px; color: #666666; padding-left: 20px;}
li.VejaMaisDropdown { width: 180px; float: left; display: block;}
li a.VejaMaisDropdown { font-size: 9px; color: #969595; padding-left: 20px; text-decoration: underline; font-style: italic;}
/*Dropdown Alimentos*/
li.BoxBonecoSeleto { float: right; display: block;}
img.BonecoSeleto { position: absolute; z-index: 4; display: block; right: -25px; top: 60px;}
span#BoxListaDropDown { width: 180px; display: block; float: left;}
/*Dropdown Todos Alimentos*/
span#BoxAllFood { width: 180px; display: block; float: left; margin-bottom: 10px; }

/*******************CONTEUDO PRINCIPAL***************/
#conteudo_principal { width: 1024px; float: left; position: relative; left: 50%; margin-left: -512px;} 

/*******************COLUNA ESQUERDA***************/
#lista_produtos { width: 150px; float: left; margin-right: 10px;}
span.tt_top_list { width: 150px; height: 22px; margin-top: -13px; padding: 6px 0 0 0; font-size: 13px; font-weight: 600; background: #582700; color: #FFF; text-align: center; float: left; }
ul.lista_geral { width: 148px; border-left: solid 1px #CCC; border-right: solid 1px #CCC; border-bottom: solid 1px #CCC;}
a.tt_lista { padding: 6px 0 5px 10px; display: block; color: #582700; font-size: 16px; font-weight: 600; border-bottom: solid 1px #CCC; border-top: solid 1px #CCC;}
li.itens_menu_lateral { width: 100%; margin-top: 5px;}
li.itens_menu_lateral a { display: block; font-size: 12px; padding: 4px 40px 2px 6px; color: #333333;}
li.itens_menu_lateral a:hover { background: #ff7f25; color: #FFF;}



/*************************BANNER INFORMATIVO***********************/
#banner_informativo { width: 100%; min-width: 1024px; float: left; background: #ff7f25;}
#box_banner_informativo { width: 1024px; height: 100px; margin: 0 auto;}
img.banner_pagamento {float: left; margin-top: 25px; margin-left: 60px;}
img.banner_entrega {float: left;  margin-left: 140px; margin-top: 33px;}
img.banner_redes {float: right; margin-top: 25px; margin-right: 45px;}
/*************************FIM DO BANNER INFORMATIVO***********************/

/*************************BREADCRUMBS DAS PAGINAS***********************/
#breadcrumbs { width: 100%; min-width: 1024px; float: left; }
#box_breadcrumbs { width: 1024px; height: 30px; margin: 0 auto; font-size: 11px; color: #666666; }
a.txt_breadcrumbs { color: #666666;}
span.txt_pagina { color: #ff7f1f; font-weight: 600;}
img.img_breadcrumbs { margin-left: 10px; margin-right: 10px;}
/*************************FIM DO BREADCRUMBS DAS PAGINAS***********************/

/************************* PAGINA CENTRAL CATEGORIA - PRODUTOS***********************/

#cont_central_produtos { width: 644px; float: left; margin-right: 10px;}

/************************* SELETC BOX***********************/
#select_box { width: 646px; height: 50px; float: left; background: #f2f2f2; margin-bottom: 5px; }
p.tt_select_box { float: left; color: #666666; padding-left: 15px; padding-right: 10px;}
.styled-select select { width: 150px; margin-top: 10px; padding: 5px; font-size: 12px; line-height: 1; border: solid 1px #CCC; height: 30px; color: #666666; float: left; }
ul.box_paginacao { width:155px; float: right; margin-top: 15px;}
li.seta_paginacao { width: 20px; height: 20px; float: left; margin-right: 10px;}
li img.st_esq { float: right; padding-top: 1px; }
li img.st_dir { padding-top: 1px; }
li a.box_numeral { color: #666666; float: left; border: solid 1px #CCC; padding: 0 5px 0 5px; margin-right: 10px;}
li a.box_numeral:hover { color: #FFF; float: left; background: #666666; padding: 0 5px 0 5px; margin-right: 10px;}
li a.box_numeral_ligado { color: #FFF; float: left; border: solid 1px #CCC; background: #666666; padding: 0 5px 0 5px; margin-right: 10px;}
li a.box_numeral_ligado:hover { color: #666666; float: left; border: solid 1px #CCC; background: #F2F2F2; padding: 0 5px 0 5px; margin-right: 10px;}
/*************************FIM DO SELETC BOX***********************/

/*************************BOX PRODUTOS***********************/
ul#box_categoria_produtos { width: 644px; margin-bottom: 5px; float: left; border-left: solid 1px #CCC; border-right: solid 1px #CCC; border-top: solid 1px #CCC; display: block;}
/*LISTA DA - CATEGORIA PRODUTOS*/
/*IMAGENS*/
li.lista_categoria_produtos { width: 644px; height: 155px; float: left; border-bottom: solid 1px #CCC;}

#descricao_produto_categoria { width: 300px; height: 125px; margin: 15px 0; float: left; border-right: solid 1px #CCC;}

img.img_descricao_produto_categoria { width: 70px; height: 115px; float: left; padding-left: 10px;}

p.txt_descricao_produto_categoria { width: 200px; max-height: 67px; float: left; display: block; font-size: 14px; color: #666666; padding-left: 8px;}
a.txt_descricao_produto_categoria { font-size: 14px; color: #666666; padding-left: 8px;}
strike.precoAntigo_categoria { margin: 0 0 0 10px; color:#582700; font-size: 13px; display: block;}

p.precoProduto_categoria { width: 200px; font-size: 19px; color:#ff7f25; margin-top: -1px; display: block;}

em.moeda_monetaria { margin: 0 0 0 10px;  font-style: normal;}
/*QUANTIDADE*/
/* PC = Produto da Categoria*/
#quantidade_produto_categoria { width: 144px; height: 125px; margin: 15px 0; float: left; border-right: solid 1px #CCC;}
p.text_qtd_PC { text-align: center; color:#666; margin-top:10px;}
input.box_qtd_PC { padding: 2px 5px; border:1px solid #DDD; color: #666;  margin: 0 2px 0 40px; width: 40px; text-align: center; float: left; margin-top:7px;}
ul li.qtd_mudar_PC { padding: 0!important}
ul li.qtd_mudar_PC a {  right: 3px; display: list-item;}
li.qtMais_PC a {position: relative; width: 13px; height: 10px; background: url(../images/qtd_setas.png) no-repeat; text-indent: -9999px; overflow: hidden; background-position: 0 0px; top:7px;}
li.qtMenos_PC a {position: relative; width: 13px; height: 10px; background: url(../images/qtd_setas.png) no-repeat; text-indent: -9999px; overflow: hidden; background-position: 0 -20px; top:9px;}
li.qtMudar_PC a {position: relative; text-indent: -9999px}
/*BOTÃO CARRINHO*/
#buttom_add_car_comprar { width: 198px; height: 125px; margin: 15px 0; float: left; }
button.carrinhoCompras_categoria { background: url(../images/btn_ir_cesta.png) no-repeat left 8px center #351903;}
button.carrinhoCompras_categoria { border: none; color:#FFF; text-align: left; cursor: pointer; padding: 6px 6px 8px 36px; }
button.carrinhoCompras_categoria { font-weight:bold; border-radius: 5px; float: left; margin-top: 37px; font-size: 12px; margin-left: 10px; } 

/******************* COLUNA CENTRAL - HOME***************/
#conteudo_central { width: 644px; float: left; margin-right: 10px;}
#box_destaque { width: 330px; height: 40px; text-transform: uppercase; background: #582700; float: left; }
img.bt_box { padding: 5px 0 0 15px; }
p.txt_box{ margin-left: 60px; margin-top: -27px; font-size: 16px; color: #FFF; font-weight: 600; letter-spacing: 2px;}

#box_visitados { width: 235px; height: 40px; text-transform: uppercase; background: #582700; float: left; }
ul#box_produto { width: 644px; float: left; margin-bottom: 10px; border-bottom: dashed 1px #CCC; padding-bottom: 20px; border: solid 1px #CCC; display: block;}
li#produto { width: 214px; height: 340px; float: left; border-left: dashed 1px #CCC;
text-align: center; margin-top: 25px; display: block;}
a.ImgProdutoHome { width: 214px; height: 196px; float: left; text-align: center;}
p.txt_produto { width: 170px; height: 35px; font-size: 13px; color: #666666; font-weight: 700; float: left; text-align: center; margin: 0 0 15px 25px;}
p.txt_valor { width: 150px; height: 20px; font-size: 15px; color: #ff7f25; font-weight: 700; float: left;  text-align: center; margin: 15px 0 20px 30px;}
span.comprar { padding: 5px 25px 5px 25px; background: #ff7f25; color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

/*******************COLUNA DIREITA***************/
#publicidade { width: 200px; height: 500px; float: left;}
#cadastro { width: 198px; height: 175px; float: left; border: solid 1px #CCC;}
p.tt_form { color: #ff7f25; font-size: 12px; font-weight: 550; text-transform: uppercase; padding-left: 10px; margin-top: 13px;}
form { font-family: "Arial", Helvetica, sans-serif; font-size:12px; }
input.statusNome, input.statusEmail { font-family: "Arial", Helvetica, sans-serif; font-size:12px; padding: 5px 30px; margin-bottom: 15px; margin-left: 15px; color: #666666; border: solid 1px #CCC;}
input.statusNome { width: 130px; padding-left: 5px;}
input.statusEmail { width: 130px; padding-left: 5px;}
button.cadastrar { width:80px; height:25px; font-size: 10px; margin-right: 7px; float: right; cursor:pointer; text-transform: uppercase; border-radius: 5px; border:none; background: #ff7f25; color: #FFF; }
#face { width: 198px; height: 277px; float: left; border: solid 1px #CCC; margin-top: 30px; z-index: 100;}

/*******************FOOTER***************/
#footer {width: 100%; min-width: 1024px; float: left; background: #582700}
#box_search_footer{background: #ff7f25; padding:10px 0}
.search_footer {width: 1024px; margin: 0 auto;}
#box_newsletter_footer { background: #351903; font-size: 0.875em; padding:15px 0; }
.newsletter_footer {width: 1024px; margin: 0 auto; }
 #box_menu_footer {background:#582700 }
.menu_footer{width: 1024px; margin: 0 auto;}
#box_pagamento_footer{background: #FFF}
.pagamento_footer {width: 1024px; margin: 0 auto; padding: 10px 0px}
#box_direitosReservados_footer {width: 1024px; margin: 0 auto; text-align: center; color:#ff7f25; text-transform: uppercase; letter-spacing: 1px; font-size: 11px}
p.newsletter_footer { font-size: 13px; display: inline; color:#ff7f25; font-weight: bold; letter-spacing: 1px }
input.search_footer {width: 932px; padding: 14px 10px; border: 5px solid #DDD; font-size: 20px; color:#666;}
input.lupa_footer { width: 63px; height: 62px !important; -webkit-height: 61px !important; margin-left: -4px;  background: url(../images/lupa_topo.png) no-repeat
center #ddd; border: none; text-indent: -9999px; cursor: pointer; float: right;}
input.news_footer { width: 245px; padding: 8px 10px; margin-left:20px; font-size: 11px; color:#666;}
input.ok_footer{background: #ff7f25; border: none; width: 85px; height: 32px; float: right; color:#FFF; font-weight: bold; font-size: 15px; cursor: pointer}
ul.mn_footer {display: inline-table; padding: 20px 0}
ul.mn_footer {padding-right:77px;}
ul.mn_footer li {font-weight: bold; font-size: 0.875em; color:#FFF; margin-bottom: 10px; letter-spacing: 1px}
ul.submenu li  {font-weight: 200; color:#FFF; margin-bottom: 3px}
ul.submenu li a {color:#FFF; letter-spacing: 1px; font-size: 12px;}
ul.submenu li a:hover {text-decoration: underline;}
p.text_redes_sociais{color:#FFF; margin-top: 5px; font-size: 12px; letter-spacing: 1px}
ul.submenu li a.redes_sociais img {float: left; margin-right: 12px;}
p.pagamentos {font-size: 14px; color:#582700; text-transform: uppercase; font-weight: bold; float: left; padding-right: 20px}


/**********************PÁGINA DETALHE DO PRODUTO ******************************/
#conteudo_detalhe{width: 1024px; margin: 0 auto; background: #DDD}
h3.Nome_detalhe {font-size: 24px; color:#ff7f25; margin-left: 25px}
h4.inf_produtos{font-size: 24px; color:#351903;}
#box_detalhe {width: 644px; float: left; margin-bottom: 10px; padding-bottom: 20px; border: solid 1px #ddd;}
#galeria_detalhe{width: 218px; float: left; border: solid 1px #ddd; padding: 10px 0px; margin-left:25px; }
#comprar_detalhe{width: 323px; float: left; border: solid 1px #ddd;  padding: 10px; margin-left: 25px; font-size: 13px; text-align: center;}
strike.precoAntigo_produto {font-weight: bold; color:#582700;}
p.precoProduto_detalhe {font-size: 24px; color:#ff7f25; margin: 8px;}
em.un_monetaria {font-style: normal; font-weight: bold;}
p.text_qtd {float: left; color:#666; margin-top:10px;}
input.box_qtd{padding: 2px 5px; border:1px solid #DDD; color: #666;  margin: 0 2px 0 10px; width: 40px; text-align: center; float: left; margin-top:7px;}
.qtd_produto{clear: both; margin: 0 auto; width: 150px }
ul.produto_quantidade{}
ul li.qtd_mudar{ padding: 0!important;}
ul li.qtd_mudar a {  right: 3px; display: list-item; }
li.qtMais a{position: relative; width: 13px; height: 10px; background: url(../images/qtd_setas.png) no-repeat; text-indent: -9999px; overflow: hidden; background-position: 0 0px; top:7px;}
li.qtMenos a{position: relative; width: 13px; height: 10px; background: url(../images/qtd_setas.png) no-repeat; text-indent: -9999px; overflow: hidden; background-position: 0 -20px; top:9px;}

.btn_detalhe {width: 300px; margin:0 auto; }
button.btn_carrinhoCompras_detalhe{ background: url(../images/btn_ir_cesta.png) no-repeat left 12px center #351903;font-weight: bold; border-radius: 5px; border: none; color:#FFF; text-align: left; cursor: pointer; padding: 10px 15px 10px 40px; float: left; margin-top: 13px;}
a.btn_comprar_detalhe{ background: #ff7f25; font-weight: bold;  color:#FFF; border-radius: 5px; float: right; padding: 19px; margin-top: 13px}
/******************informaçoes produtos*********************/
.informacoes_produtos{float: left; margin-left: 25px; width: 523px}
p.ingredientes{color:#666; font-size: 16px; font-weight: bold;}
p.ingredientes_inf{color: #666; font-size: 13px; line-height: 18px }

/********************veja também*******************************/
#box_vejaTambem {width: 200px; float: left; display: block; border: 1px solid #DDD}
.box_vejaTambem{margin-bottom: 10px; float: left; border-bottom: 1px solid #DDD; margin-left: 10px; padding-bottom: 20px}
.left_vejaTambem{float: left; width: 86px; height: 102px; }
.right_vejaTambem{ float:left; margin-left: 10px; width: 80px}
#box_vejaTambem p.desc_prod {}
img.maisProd{border:1px solid #DDD;}
strike.precoAntigo_produto {font-weight: bold; font-size: 13px; color:#582700;}
p.precoProduto_VejaTambem{font-size: 18px; color:#ff7f25; margin-top: 5px}
.qtd_VejaTambem{width:82px; margin-bottom: 40px; clear: both; margin-left: -10px }
button.btn_carrinhoCompras_vejaTambem{background: url(../images/btn_ir_cesta.png) no-repeat center #351903; text-indent: -9999px; float: left; border:none; border-radius: 5px; padding:15px 25px; cursor: pointer; width:60px}
a.btn_comprar_vejaTambem {background: #ff7f25; font-weight: bold;  color:#FFF; border-radius: 5px; float: left; font-size: 13px; padding: 16px 20px; }
/*set a border on the images to prevent shifting*/
#gallery_01 img{border:2px solid white;} 
/*Change the colour*/
.active img{border:2px solid #333 !important;}

/*PAGINA COM OS ITENS DO CARRINHO DE COMPRAS*/
#CestaCompras { width: 1024px; float: left; margin-bottom: 30px;}
img.tt_CestaCompras { float: left;}
/*ESTRUTURA DO CONTEUDO*/
#BoxCestaCompras { width: 1024px; border: solid 2px #ff7f25; float: left; padding-bottom: 12px;}
ul#HeaderCestaCompras { width: 1000px; height: 50px; float: left; background: #dddddd; margin-top: 12px; margin-left: 12px;}
ul#BoxListaProduto { width: 1000px; float: left; margin-left: 12px;}
li.ListaDaCesta { width: 998px; border-bottom: solid 1px #CCC; border-left: solid 1px #CCC; border-right: solid 1px #CCC; float: left;}
/*LISTA DO MENU SUPERIOR*/
li.CestaTopoProduto { padding: 16px 50px 0 25px; float: left; font-weight: 100; font-size: 14px; color: #666666;}
li.CestaTopoDescricao { padding: 16px 0 0 25px; float: left; font-size: 14px; color: #666666;}
li.CestaTopoValor { padding: 16px 0 0 296px; float: left; font-size: 14px; color: #666666;}
li.CestaTopoQtd { padding: 16px 0 0 60px; float: left; font-size: 14px; color: #666666;}
li.CestaTopoSub { padding: 16px 0 0 75px; float: left; font-size: 14px; color: #666666;}
li.CestaTopoExcluir { padding: 16px 0 0 70px; float: left; font-size: 14px; color: #666666;}
/*ESTRUTURA DO CONTEUDO DOS PRODUTOS*/
#ProductsFromBasket { width: auto; height: 110px; float: left; font-size: 12px; color: #666666;}
img.ImgProductsBasket { width: 50px; height: 91px; padding: 15px 30px 0 30px; text-align: center; float: left;}
p.DescriptionProductsBasket { width: 350px; height: 91px; max-height: 110px; text-align: left; float: left; }
p.ValueProductsFromBasket { width: 150px; height: 56px; text-align: center; padding-top: 35px; float: left;}
span.AmountProductsFromBasket { width: 72px; height: 67px; padding: 24px 0 0 24px; float: left; text-align: center; margin-top: 12px;}
input.qtd_carrinho { width: 40px; padding: 2px 5px; border:1px solid #DDD; color: #666; text-align: center; 
float: left; margin-top:7px; margin-right:3px;}
ul.Qtd_Mudar { float: left;}
ul li.change_qtd_carrinho  { padding: 0!important}
ul li.change_qtd_carrinho  a {  right: 3px; display: list-item;}
li.MoreItens a {position: relative; width: 13px; height: 10px; background: url(../images/qtd_setas.png) no-repeat; text-indent: -9999px; overflow: hidden; background-position: 0 0px; top:7px;}
li.LessItens a {position: relative; width: 13px; height: 10px; background: url(../images/qtd_setas.png) no-repeat; text-indent: -9999px; overflow: hidden; background-position: 0 -20px; top:9px;}
p.SubTotalProductsFromBasket { width: 200px; height: 56px; text-align: center; float: left;  padding-top: 35px;}
img.CloseProductsFromBasket { width: 30px; height: 29px; text-align: center; float: left; margin-top: 37px;  margin-left: 17px;}

/*CONTEUDO CEP + PRAZO DE ENTREGA*/
li.txt_prazoDentrega { float: left; font-size: 15px; color: #666666; padding: 14px 20px 15px 20px;  font-weight: 600;}
li.SeuCep { width: 475px; height: 50px; float: left;}
li p.txt_SeuCep { color: #666666; font-size: 15px; float: left; margin-left: 20px;}
span.CalcFret { padding: 6px 10px 6px 10px; color: #FFF; float: right; background: #ff7f25; text-transform: uppercase; font-weight: 700; margin-top: 9px;}
input.DigCep1 { width: 74px; height: 30px; color: #666666; margin-top: 10px; margin-left: 20px; border: none; background: #FFF; float: left; padding-left: 5px;}
input.DigCep2 { width: 54px; height: 30px; color: #666666; margin-top: 10px; border: none; background: #FFF; float: left; margin-left: 10px; padding-left: 5px;}
li a.ProcurarCep { float: right; font-size: 14px; color: #ff7f25; padding: 15px 30px 10px 10px;}

/*CONTEUDO VALOR + AVISO*/
span.BoxEntrega { width: 1000px; height: 40px; float: left; background: #fbc9a6;}
img.ImgBoxEntrega { float: left; margin-top: 11px; margin-left: 20px;}
p.TxtBoxEntrega { float: left; font-size: 16px; margin-left: 10px; margin-top: 11px;}
span.CaixaAltaEntrega { text-transform: uppercase; font-weight: 700;}
img.AvisoCarrinho { float: left; margin-left: 20px; margin-top: 42px;}
p.txt_aviso { margin-left: 10px; margin-top: 45px; float: left; font-size: 12px;}
span.txt_aviso_atencao { color: #d30803;}
p.txt_frete { float: left; color: #ff7f25; text-transform: uppercase; font-size: 16px; margin-top: 40px; margin-left: 120px; }
p.txt_TotalFrete { float: left; color: #ff7f25; text-transform: uppercase; font-size: 16px; margin-left: 40px; margin-top: 40px;}
p.CalcSomaValor { width: 140px; height: 63px; background: #ff7f25; float: right; text-align: center; color: #FFF; font-weight: 700; margin-top: 0px; margin-bottom: 0px; font-size: 20px; padding-top: 38px;}

/*BOTÕES DA PAGINA ITENS DO CARRINHO DE COMPRAS*/
span.ButtonCarCompras_Comprar { float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit- border-radius: 5px; border: none; font-weight: 600; color: #666666; background: #dddddd; padding: 10px 30px 10px 30px; margin-top: 40px; }
span.ButtonCarCompras_Comprar:hover { background: #B1B0B0;}
span.ButtonCarCompras_Finalizar { float: right; margin-top: 40px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-weight: 600; border: none; color: #FFF; background: #ff7f25; padding: 10px 30px 10px 30px;}
span.ButtonCarCompras_Finalizar:hover { background: #E76509;}

/*SLIDER DE PRODUTOS */
#SliderProdutosGeral { width: 1024px; float: left; margin-bottom: 30px;}
img.tt_SliderProdutos { float: left; }
#StructureSlider { width: 1024px; float: left; border: solid 1px #d5d4d4;}
span.seta_slider_esquerda { width: 17px; height: 25px; float: left; padding-top: 60px; padding-left: 5px;}
span.seta_slider_direita { width: 17px; height: 25px; float: right; padding-top: 60px; padding-right: 5px;}
#BoxSliderProdutos { width: 980px; float: left; overflow:hidden; }
ul#BaseSlider { width: 2000px; position: relative;}
li.ContSlider { width: 164px; height: 140px; float: left;}
img.ImgContSlider { padding: 25px 41px 27px 41px;}

/*EFEITO COM A DESCRIÇÃO DO CONTEUDO DO SLIDER*/
#ProductDescription { position:relative; top: 96px; left: 20px;}
#BoxProductDescription { width: 164px; padding-top: 50px; position: absolute; z-index: 2;}
#ProductDescriptionContent { width: 164px; background: #FFF; float: left; padding-bottom: 5px; box-shadow: 0 0 1px 1px #d7d4d4; -moz-box-shadow: 0 0 1px 1px #d7d4d4; -webkit-box-shadow: 0 0 1px 1px #d7d4d4;}
img.detalhe_slider { position: absolute; left: 56px; top: 32px;}
p.ValueProductDescription { width: 160px; color: #582700; font-size: 13px; font-weight: 600; padding-left: 12px; float: left; margin-top: 1px; display: block;}
p.txtProductDescription { width: 160px; font-size: 11px; color: #666666; float: left; padding-left:13px;
display: block; overflow: hidden;}
span.ButtonProductDescription { margin-left: 11px; padding: 5px 15px 5px 15px; background: #582700; text-align: center; font-size: 13px; color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit- border-radius: 5px; border: none; float: left;}

/*AVISO QUANDO NÃO TIVER ITEN NO CARRINHO*/
#CestaVazia { width: 780px; float: right; padding-top: 50px; }
img.imgCestaVazia { width: 131px; height: 102px; margin: 80px 20px 0 70px;}
p.txtCestaVazia { font-size: 13px; color: #666666;}
span.ttCestaVazia { font-size: 20px; font-weight: 700; letter-spacing: 1px; color: #ff7f25;}
span.ButtonCestaVazia { float: left;  margin-bottom: 20px; margin-top: 20px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-weight: 600; border: none; color: #FFF; background: #ff7f25; padding: 10px 30px 10px 30px;}
span.ButtonCestaVazia:hover { background: #E76509;}


/*FIM DA PAGINA COM OS ITENS DO CARRINHO DE COMPRAS*/



/* Hack ie10 */
.ie10 input.lupa_topo { width: 50px; height: 60px !important; margin-left: -1px; margin-top: -10px; background: url(../images/lupa_topo.png) no-repeat center #ff7f25; border: none;
      text-indent: -9999px; cursor: pointer;}
.ie10 input.lupa_footer { width: 62px; height: 61px !important; margin-left: -4px;  background: url(../images/lupa_topo.png) no-repeat
      center #ddd; border: none; text-indent: -9999px; cursor: pointer; float: right;}
.ie10 input.ok_footer{background: #ff7f25; border: none; width: 85px; height: 31px; float: right; color:#FFF; font-weight: bold; font-size: 15px; cursor: pointer; margin-top: 1px;}
.ie10 span.tt_top_list { width: 150px; height: 20px; margin-top: -13px; padding: 8px 0 0 0; font-size: 13px; font-weight: 500; background: #582700; color: #FFF; text-align: center; float: left; }
.ie10 button.carrinhoCompras_categoria { border: none; color:#FFF; text-align: left; cursor: pointer; padding: 6px 20px 8px 36px; }
.ie10 img.dt_cesta { z-index: -9999; margin-left: 92px; margin-top: -8px; float: left;}
/* Hack Opera */

x:-o-prefocus, input.lupa_footer { 
  width: 62px; height: 61px !important; margin-left: -4px;  background: url(../images/lupa_topo.png) no-repeat
center #ddd; border: none; text-indent: -9999px; cursor: pointer; float: right;
}

x:-o-prefocus, span.tt_top_list { 
  width: 150px; height: 22px; margin-top: -13px; padding: 6px 0 0 0; font-size: 13px; font-weight: 500; background: #582700; color: #FFF; text-align: center; float: left;
 }

x:-o-prefocus, p.txt_box { 
  margin-left: 60px; margin-top: -27px; font-size: 16px; letter-spacing: 1px; color: #FFF; font-weight: 600;
}

x:-o-prefocus, button.carrinhoCompras_categoria { 
  border: none; color:#FFF; text-align: left; cursor: pointer; padding: 6px 20px 8px 36px; 
}
 
x:-o-prefocus, img.dt_cesta {
 z-index: -9999; margin-left: 92px; margin-top: -7px; float: left;
}


/* Hack Chorme */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input.lupa_topo { width: 50px; height: 61.5px !important; margin-left: -1px; margin-top: -10px; background: url(../images/lupa_topo.png) no-repeat center #ff7f25; border: none;
  text-indent: -9999px; cursor: pointer;}
  input.lupa_footer { width: 62px; height: 62px !important; margin-left: -4px;  background: url(../images/lupa_topo.png) no-repeat
center #ddd; border: none; text-indent: -9999px; cursor: pointer; float: right;}
  input.ok_footer{background: #ff7f25; border: none; width: 85px; height: 32px; float: right; color:#FFF; font-weight: bold; font-size: 15px; cursor: pointer; margin-top: 3px;}
  p.txt_box { margin-left: 60px; margin-top: -27px; font-size: 16px; color: #FFF; font-weight: 600; letter-spacing: 1px;}
  span.tt_top_list { width: 150px; height: 22px; margin-top: -13px; padding: 6px 0 0 0; font-size: 13px; font-weight: 500; background: #582700; color: #FFF; text-align: center; float: left; }
  button.carrinhoCompras_categoria { border: none; color:#FFF; text-align: left; cursor: pointer; padding: 6px 20px 8px 36px;
  }
  img.dt_cesta { z-index: -9999; margin-left: 92px; margin-top: -8px; float: left;}
 }