body { font-family: "Arial", Helvetica, sans-serif; margin: 0px; padding: 0px;}
ul, li { padding: 0px; margin: 0px; list-style: none}
a { text-decoration: none}
h2 { font-size: 16px; font-weight: 500;}
img { border: none;}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url(../images/zf2-logo.png) no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/*******************HEADER - MENU***************/
#header {width: 100%; min-width: 1024px; position: relative; background: #582700}
#mn_topo{ width: 1024px; margin: 0 auto; }
ul.mn_topo { padding: 25px 0; float: left; display: block; font-size: 12px; }
li.Menu_topo { display: inline;  background: url(../images/borda_menu.png) repeat-y right;  padding-right:13px; padding-left:13px}
li.Menu_topo a{ color:#FFF;}
li.Menu_topo a:hover{text-decoration: underline;}
/******************* FIM DO HEADER - MENU***************/

/******************* CESTA DO CARRINHO DE COMPRAS ***************/
span.Cesta { width: 200px; height: 71px; margin-left: 755px; background: url(../images/cesta.png) no-repeat #351903; display: block; }
p.mc { color: #FFF; font-weight: bold; margin-left: 72px; margin-top: 0px; font-size: 14px;}
p.valor_total { color: #FFF; font-weight: bold; margin-left: 90px; margin-top: -15px; font-size: 14px;}
img.dt_cesta { z-index: -9999; position: absolute; margin-top: 10px; margin-left: 92px;}
/******************* FIM DA CESTA DO CARRINHO DE COMPRAS ***************/

/********HEADER D0 CARRINHO DE COMPRAS, TITULOS DO PRODUTO, PREÇO, QTD*************/
#box_compras { width: 345px; z-index: 200; background: #351903; margin-left: 610px; overflow: hidden; position: absolute; }
ul.header_conteudo_compra { width: 330px; height: 40px; margin: 0 auto; background: #582700; margin-top: 10px; display: block;}
li.header_tt_box_produto { width: 180px; height: 40px; float: left; color: #FFF;}
li.header_tt_box_preco { width: 86px; height: 40px; float: left; color: #FFF;}
li.header_tt_box_Qtd { width: 54px; height: 40px; float: right; color: #FFF; } 
p.header_txt_produto_compra { margin: 10px 0 9px 20px; }
p.header_txt_preco_compra { margin: 10px 0 0 0; float: right;}
p.header_txt_Qtd_compra { margin: 10px 12px 0 0; float: right;}
/************ FIM DO HEADER D0 CARRINHO DE COMPRAS, TITULOS DO PRODUTO, PREÇO, QTD**************/

/************CARRINHO DE COMPRAS- DESCRIÇÃO DOS PRODUTOS, PREÇO, QTD,******************/
ul#DescricaoPrecoQuatidade { width: 345px; margin: 0 auto; margin-top: 10px; display: block; }
li.BoxProdutosCesta { width: 325px; float: left; display:block; margin-top: 10px; margin-left: 10px; border-bottom: solid 1px #582700; }
#BoxDescricaoFoto { width: 180px; height: 66px; float: left; border-right: solid 1px #582700; color: #FFF; margin-bottom: 10px; }
span.imagem_produto_cesta { width: 50px; height: 66px; float: left;}
p.descricao_produto_cesta { width: 127px; float: left; font-size: 11px; margin-top: 15px; color: #FFF;}
#BoxDescricaoPreco { width: 80px; height: 66px; float: left; border-right: solid 1px #582700; }
p.descricao_preco_cesta { font-size: 11px; text-align: center; color: #FFF; margin-top: 25px; }
#BoxDescricaoQuatidade { width: 60px; height: 66px; float: left; text-align: center; color: #FFF; }
p.descricao_Qtd_cesta { font-size: 11px; text-align: center; color: #FFF; margin-top: 25px;}
/*FIM D0 CARRINHO DE COMPRAS - DESCRIÇÃO DOS PRODUTOS, PREÇO, QTD,*/

/****************BOTÕES DO CARRINHO DE COMPRA***************/
ul#buttonCarrinho { width: 325px; float: left; display:block; margin-top: 10px; margin-left: 10px;}
li.ButtonCarrinhoDeCompra a { width: 155px; height: 22px; margin-bottom: 10px; float: left; background: #dddddd;
 border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; text-transform: uppercase;
  text-align: center; color: #666666; font-size: 12px; padding-top: 8px;}
li.ButtonCarrinhoDeCompra a:hover { background: #b1b0b0;}
li.ButtonFinalizarCompra a { width: 155px; height: 22px; margin-bottom: 10px; float: right; background: #ff7f25; 
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; text-transform: uppercase;
   text-align: center; font-size: 12px; color: #FFF; padding-top: 8px;}
li.ButtonFinalizarCompra a:hover { background: #e76509;}

/***********FIM DOS BOTÕES DO CARRINHO DE COMPRA**********/

/******************ERRO LOGIN - CADASTRO****************************/
#form_erro {position: absolute;  width: 100%; min-width: 1024px; margin-top: 80px}
#atencao_erro{width: 411px; margin: 0 auto; background:url(../images/fundo_trasparente.png); text-align: center; border-top:5px solid #ff7f25; border-bottom: 5px solid #ff7f25; padding-bottom: 30px}
p.atencaoErro{background: url(../images/atencao.png) no-repeat left; font-size: 1.000em; color:#FFF; font-weight: bold; text-indent: 50px; padding:10px 0;}
p.erro{font-weight: bold; font-size: 1.000em; color:#FFF;}
span.tipo_erro{ line-height: 25px; color:#fff; }
a.tentarNovamente{background: #ff7f25; border-radius: 7px; padding: 10px 17px; margin-top: 30px; text-transform: uppercase; color: #FFF; font-weight: bold;font-size: 0.875em; letter-spacing: 1px}

/******************LOGIN - CADASTRO****************************/
#Login_Cadastro{width: 100%; min-width: 1024px; position: absolute; }
#btn_form {width: 453px; margin: 0 auto; }
#form_login {width: 453px; margin: 0 auto; background: #FFF }
#form_cadastro {width: 453px; margin: 0 auto; background: #FFF }
a.status_entrar { background: url(../images/btn_entrar.png) no-repeat top; width:150px; height: 51px; float: left; text-indent: -9999px}
a.status_criar_conta { background: url(../images/btn_criarConta_desativado.png) no-repeat top; width:219px; height: 51px; float: left; text-indent: -9999px}
a.status_entrar:hover{ background: url(../images/btn_entrar_desativado.png) no-repeat top; z-index: 1 }
a.status_criar_conta:hover { background: url(../images/btn_criarConta.png) no-repeat top; }
a.status_fechar {background: url(../images/fechar_loginCadastro.png) no-repeat top; width:84px; height: 51px; float: left; text-indent: -9999px}
a.esqueceuSenha { color:#333; text-decoration: underline; margin-left: 12%;}
p.criar_conta{margin-left: 12%; font-size:1.125em; }
p.criar_conta a.criar_conta {color:#333; font-weight: bold}
p.criar_conta a.criar_conta:hover {color:#ff7f25;}
form.formActionLogin, form.formActionCadastro{border: 3px solid #ff7f25; padding-top: 80px }
input.login, input.Password, input.email{width: 320px; padding: 10px 5px; margin-left: 12%; margin-bottom: 10px; margin-top: 10px; border: 2px solid #ddd; color:#666; font-size:0.875em; letter-spacing: 1px }
label.status_login, label.status_password, label.status_email {font-size:1.000em; color:#333; margin-left: 12%;}
input.Eventlogin ,input.Eventcadastrar {background: #ff7f25; border: none; font-size: 0.875em; text-transform: uppercase; cursor: pointer; border-radius: 7px; padding: 10px 17px; color:#FFF; font-weight: bold; letter-spacing: 1px; float: right; margin-right:12% }

/*******************CONTEUDO***************/
#geral { width: 100%; min-width: 1024px; float: left; }

/*******************MENU***************/
#topo_menu { width: 100%; min-width: 1024px; border-bottom: solid 1px #CCC; float: left;}
#menu_central { width: 1024px; margin: 0 auto;}
h1 { text-indent: -9999px !important; display: none !important;} 
img.logo_seleto { float: left; padding-top: 40px; padding-left: 80px; }
img.phone { width: 24px; height: 15px; float: left; padding-top: 15px; padding-right: 10px;} 
p.txt_phone { width:300px; font-size: 18px; font-weight: bold; color: #ff7f25; margin-top: 13px;}
#box_menu { width: 544px; height: 209px; float: right; margin-right: 70px; }
input.search_topo{ width: 454px; padding: 15px; margin-bottom: 10px; margin-top: -10px; border: 5px solid #ff7f25; font-size: 1.125em; color:#666; background: #FFF; float: left; }
input.lupa_topo { width: 50px; height: 61px !important; -webkit-height: 61.5px !important; margin-left: -1px; margin-top: -10px; background: url(../images/lupa_topo.png) no-repeat center #ff7f25; border: none; text-indent: -9999px;}
ul.menu_central { width: 544px;}
li.lista_menu_cafe { width: 178px; height: 87px; background: url(../images/cafe.png) no-repeat; float: left; padding: 0 5px 0 0;}
li.lista_menu_alimentos { width: 178px; height: 87px; background: url(../images/alimento.png) no-repeat; float: left; padding: 0 5px 0 0;}
li.lista_menu_produtos { width: 178px; height: 87px; background: url(../images/produtos.png) no-repeat; float: left;}

/*******************CONTEUDO HOME***************/
#conteudo_home { width: 1024px; height:1000px;  margin: 0 auto; } 

/*******************COLUNA ESQUERDA***************/
#lista_produtos { width: 150px; float: left; margin-right: 10px;  margin-top: 30px;}
span.tt_top_list { width: 150px; height: 22px; margin-top: -13px; padding: 6px 0 0 0; font-size: 13px; background: #582700; color: #FFF; text-align: center; float: left; }
ul.lista_geral { width: 148px; border-left: solid 1px #CCC; border-right: solid 1px #CCC; border-bottom: solid 1px #CCC;}
a.tt_lista { padding: 6px 0 5px 10px; display: block; color: #582700; font-size: 16px; font-weight: 600; border-bottom: solid 1px #CCC; border-top: solid 1px #CCC;}
li.itens_menu_lateral { width: 100%; margin-top: 5px;}
li.itens_menu_lateral a { display: block; font-size: 12px; padding: 4px 40px 2px 6px; color: #333333;}
li.itens_menu_lateral a:hover { background: #ff7f25; color: #FFF;}
/*******************COLUNA CENTRAL***************/
#conteudo_central { width: 644px; float: left; margin-top: 30px; margin-right: 10px;}
#box_destaque { width: 330px; height: 40px; text-transform: uppercase; background: #582700; float: left; }
img.bt_box { padding: 5px 0 0 15px; }
p.txt_box{ margin-left: 60px; margin-top: -27px; font-size: 16px; color: #FFF; font-weight: 600; letter-spacing: 2px;}
#box_visitados { width: 235px; height: 40px; text-transform: uppercase; background: #582700; float: left; }
ul#box_produto { width: 644px; float: left; margin-bottom: 10px; border-bottom: dashed 1px #CCC; padding-bottom: 20px; border: solid 1px #CCC; display: block;}
ul#box_produto { width: 644px; float: left; margin-bottom: 10px; border-bottom: dashed 1px #CCC; padding-bottom: 20px; border: solid 1px #CCC;}
li#produto { width: 214px; height: 340px; float: left; border-left: dashed 1px #CCC;
text-align: center; margin-top: 25px;}
.txt_produto { width: 150px; font-size: 13px; color: #666666; font-weight: 700; margin: 0 auto; text-align: center; margin-bottom: 15px;}
.txt_valor { width: 150px; font-size: 15px; color: #ff7f25; font-weight: 700; margin: 0 auto; text-align: center; margin-bottom: 20px; margin-top: 15px;}
span.comprar { padding: 5px 25px 5px 25px; background: #ff7f25; color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

/*******************COLUNA DIREITA***************/
#publicidade { width: 200px; height: 500px; float: left; margin-top: 30px;}
#cadastro { width: 198px; height: 175px; float: left; border: solid 1px #CCC;}
p.tt_form { color: #ff7f25; font-size: 12px; font-weight: 550; text-transform: uppercase; padding-left: 10px; margin-top: 13px;}
form { font-family: "Arial", Helvetica, sans-serif; font-size:12px; }
input.statusNome, input.statusEmail { font-family: "Arial", Helvetica, sans-serif; font-size:12px; padding: 5px 30px; margin-bottom: 15px; margin-left: 15px; color: #666666; border: solid 1px #CCC;}
input.statusNome { width: 130px; padding-left: 5px;}
input.statusEmail { width: 130px; padding-left: 5px;}
button.cadastrar { width:80px; height:25px; font-size: 10px; margin-right: 7px; float: right; cursor:pointer; text-transform: uppercase; border-radius: 5px; border:none; background: #ff7f25; color: #FFF; }
#face { width: 198px; height: 277px; float: left; border: solid 1px #CCC; margin-top: 30px; z-index: 100;}

/*******************FOOTER***************/
#footer {width: 100%; min-width: 1024px; background: #582700}
#mn_topo{ width: 1024px; margin: 0 auto}

#footer {width: 100%; min-width: 1024px; float: left; background: #582700}
#box_search_footer{background: #ff7f25; padding:10px 0}

.search_footer {width: 1024px; margin: 0 auto;}
#box_newsletter_footer { background: #351903; font-size: 0.875em; padding:15px 0; }

.newsletter_footer {width: 1024px; margin: 0 auto; }
 #box_menu_footer {background:#582700 }

.menu_footer{width: 1024px; margin: 0 auto;}
#box_pagamento_footer{background: #FFF}

.pagamento_footer {width: 1024px; margin: 0 auto; padding: 10px 0px}
#box_direitosReservados_footer {width: 1024px; margin: 0 auto; text-align: center; color:#ff7f25; text-transform: uppercase; letter-spacing: 1px; font-size: 11px}
p.newsletter_footer { font-size: 13px; display: inline; color:#ff7f25; font-weight: bold; letter-spacing: 1px }

input.search_footer {width: 932px; padding: 14px 10px; border: 5px solid #DDD; font-size: 20px; color:#666;}

input.lupa_footer { width: 63px; height: 62px !important; -webkit-height: 61px !important; margin-left: -4px;  background: url(../images/lupa_topo.png) no-repeat
center #ddd; border: none; text-indent: -9999px; cursor: pointer; float: right;}


input.news_footer { width: 245px; padding: 8px 10px; margin-left:20px; font-size: 11px; color:#666;}

input.ok_footer{background: #ff7f25; border: none; width: 85px; height: 32px; float: right; color:#FFF; font-weight: bold; font-size: 15px; cursor: pointer}



ul.mn_footer {display: inline-table; padding: 20px 0}

ul.mn_footer {padding-right:77px;}

ul.mn_footer li {font-weight: bold; font-size: 0.875em; color:#FFF; margin-bottom: 10px; letter-spacing: 1px}

ul.submenu li  {font-weight: 200; color:#FFF; margin-bottom: 3px}

ul.submenu li a {color:#FFF; letter-spacing: 1px; font-size: 12px;}

ul.submenu li a:hover {text-decoration: underline;}

p.text_redes_sociais{color:#FFF; margin-top: 5px; font-size: 12px; letter-spacing: 1px}

ul.submenu li a.redes_sociais img {float: left; margin-right: 12px;}

p.pagamentos {font-size: 14px; color:#582700; text-transform: uppercase; font-weight: bold; float: left; padding-right: 20px}

/* Hack ie10 */
.ie10 img.dt_cesta { z-index: -9999; margin-top: -1px; margin-left: 92px !important;}




/* Hack Opera */
x:-o-prefocus, 







/* Hack Chorme */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 
 }    