img.dt_cesta { z-index: -9999; margin-top: 13px; margin-left: 92px !important;}
input.lupa_topo { width: 50px; height: 60px !important;  margin-left: -1px; margin-top: -10px; background: url(../images/lupa_topo.png) no-repeat center #ff7f25; border: none; text-indent: -9999px;}
input.lupa_footer { width: 60px; height: 61px !important; margin-right: 3px; float: right; background: url(../images/lupa_topo.png) no-repeat center #ddd; border: none;} 
